cycler==0.11.0 --index-url=https://si-mirrors-dma.edf.fr/repository/pypi.python.org/simple --trusted-host=si-mirrors-dma.edf.fr
fonttools==4.33.3 --index-url=https://si-mirrors-dma.edf.fr/repository/pypi.python.org/simple --trusted-host=si-mirrors-dma.edf.fr
joblib==1.1.0 --index-url=https://si-mirrors-dma.edf.fr/repository/pypi.python.org/simple --trusted-host=si-mirrors-dma.edf.fr
kiwisolver==1.3.2 --index-url=https://si-mirrors-dma.edf.fr/repository/pypi.python.org/simple --trusted-host=si-mirrors-dma.edf.fr
llvmlite==0.38.0 --index-url=https://si-mirrors-dma.edf.fr/repository/pypi.python.org/simple --trusted-host=si-mirrors-dma.edf.fr
matplotlib==3.5.1 --index-url=https://si-mirrors-dma.edf.fr/repository/pypi.python.org/simple --trusted-host=si-mirrors-dma.edf.fr
numba==0.55.2 --index-url=https://si-mirrors-dma.edf.fr/repository/pypi.python.org/simple --trusted-host=si-mirrors-dma.edf.fr
numpy==1.22.4 --index-url=https://si-mirrors-dma.edf.fr/repository/pypi.python.org/simple --trusted-host=si-mirrors-dma.edf.fr
packaging==21.3 --index-url=https://si-mirrors-dma.edf.fr/repository/pypi.python.org/simple --trusted-host=si-mirrors-dma.edf.fr
pandas==1.4.2 --index-url=https://si-mirrors-dma.edf.fr/repository/pypi.python.org/simple --trusted-host=si-mirrors-dma.edf.fr
patsy==0.5.2 --index-url=https://si-mirrors-dma.edf.fr/repository/pypi.python.org/simple --trusted-host=si-mirrors-dma.edf.fr
Pillow==9.1.1 --index-url=https://si-mirrors-dma.edf.fr/repository/pypi.python.org/simple --trusted-host=si-mirrors-dma.edf.fr
profilehooks==1.12.0 --index-url=https://si-mirrors-dma.edf.fr/repository/pypi.python.org/simple --trusted-host=si-mirrors-dma.edf.fr
pyparsing==3.0.9 --index-url=https://si-mirrors-dma.edf.fr/repository/pypi.python.org/simple --trusted-host=si-mirrors-dma.edf.fr
PyQt5==5.15.6 --index-url=https://si-mirrors-dma.edf.fr/repository/pypi.python.org/simple --trusted-host=si-mirrors-dma.edf.fr
PyQt5-Qt5==5.15.2 --index-url=https://si-mirrors-dma.edf.fr/repository/pypi.python.org/simple --trusted-host=si-mirrors-dma.edf.fr
PyQt5-sip==12.11.0 --index-url=https://si-mirrors-dma.edf.fr/repository/pypi.python.org/simple --trusted-host=si-mirrors-dma.edf.fr
python-dateutil==2.8.2 --index-url=https://si-mirrors-dma.edf.fr/repository/pypi.python.org/simple --trusted-host=si-mirrors-dma.edf.fr
pytz==2022.1 --index-url=https://si-mirrors-dma.edf.fr/repository/pypi.python.org/simple --trusted-host=si-mirrors-dma.edf.fr
scikit-learn==1.1.1 --index-url=https://si-mirrors-dma.edf.fr/repository/pypi.python.org/simple --trusted-host=si-mirrors-dma.edf.fr
scipy==1.8.1 --index-url=https://si-mirrors-dma.edf.fr/repository/pypi.python.org/simple --trusted-host=si-mirrors-dma.edf.fr
seaborn==0.11.2 --index-url=https://si-mirrors-dma.edf.fr/repository/pypi.python.org/simple --trusted-host=si-mirrors-dma.edf.fr
six==1.16.0 --index-url=https://si-mirrors-dma.edf.fr/repository/pypi.python.org/simple --trusted-host=si-mirrors-dma.edf.fr
sklearn==0.0 --index-url=https://si-mirrors-dma.edf.fr/repository/pypi.python.org/simple --trusted-host=si-mirrors-dma.edf.fr
statsmodels==0.13.2 --index-url=https://si-mirrors-dma.edf.fr/repository/pypi.python.org/simple --trusted-host=si-mirrors-dma.edf.fr
threadpoolctl==3.1.0 --index-url=https://si-mirrors-dma.edf.fr/repository/pypi.python.org/simple --trusted-host=si-mirrors-dma.edf.fr
utm==0.7.0 --index-url=https://si-mirrors-dma.edf.fr/repository/pypi.python.org/simple --trusted-host=si-mirrors-dma.edf.fr
xmltodict==0.13.0 --index-url=https://si-mirrors-dma.edf.fr/repository/pypi.python.org/simple --trusted-host=si-mirrors-dma.edf.fr
python-pptx==0.6.21 --index-url=https://si-mirrors-dma.edf.fr/repository/pypi.python.org/simple --trusted-host=si-mirrors-dma.edf.fr